NEXT_PUBLIC_AWS_REGION=ap-south-1
NEXT_PUBLIC_COGNITO_REGION=ap-south-1

NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-south-1_cct6ZugKJ
NEXT_PUBLIC_COGNITO_CLIENT_ID=6p2egml9c2q7hct3fhg5qhvc0f
NEXT_PUBLIC_COGNITO_AUTHORITY=https://cognito-idp.ap-south-1.amazonaws.com/ap-south-1_cct6ZugKJ
NEXT_PUBLIC_COGNITO_DOMAIN=https://ai-hiring-platform-dev.auth.ap-south-1.amazoncognito.com
NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000/login
NEXT_PUBLIC_COGNITO_LOGOUT_REDIRECT_URI=http://localhost:3000/login
NEXT_PUBLIC_API_GATEWAY_ID=9hi53krffj
NEXT_PUBLIC_API_STAGE=dev
NEXT_PUBLIC_API_BASE_URL=https://9hi53krffj.execute-api.ap-south-1.amazonaws.com/dev