
AWS_REGION=
COGNITO_REGION=
DYNAMODB_TABLE_NAME=
RESUME_BUCKET_NAME=
RESUME_PROCESSING_QUEUE_URL=
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
XAI_API_KEY=
XAI_API_URL=https://api.x.ai/v1/chat/completions
XAI_MODEL_ID=grok-3-mini
XAI_SECRET_ARN=
NOTIFICATION_WEBHOOK_URL=
