
AWS_REGION=
COGNITO_REGION=
DYNAMODB_TABLE_NAME=
RESUME_BUCKET_NAME=
RESUME_PROCESSING_QUEUE_URL=
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
AI_API_KEY=
AI_API_URL=https://api.groq.com/openai/v1/chat/completions
AI_MODEL_ID=openai/gpt-oss-120b
AI_SECRET_ARN=
NOTIFICATION_WEBHOOK_URL=
